@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    margin: 20px;
    background-color: #121212;
}
.receipt-header {
    text-align: center;
    margin-bottom: 20px;
    font-family:poppins, sans-serif;
    color: #fff;
}
.Line {
    border-bottom: 1px solid #fff;
    margin-top: 20px;
}